<h1>All Events</h1>
<div class='event-table'>
  <table>
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= link_to event.name, event_path(event) %></td>
          <td><%= event.description %></td>
          <td><%= link_to 'View', event_path(event) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  </br>
  </br>
<% if user_signed_in? %>
  <%= link_to 'Create a New Event', new_event_path %> | 
  <%= link_to 'My Events', my_events_path %>
<% end %>
