<h1>All Events</h1>
<div class='event-table'>
  <table>
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Description</th>
        <th>Available Tickets</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= link_to event.name, event_path(event) %></td>
          <td><%= event.description %></td>
          <td><%= available_tickets(event) %></td>
          <td>
            <%= link_to 'View', event_path(event) %> |
            <%= link_to 'Buy Tickets', new_booking_path(event_id: event.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  </br>
  </br>
<%= link_to 'Create a New Event', new_event_path %>
